%section#main-page
  .container
    .row
      .col-xs-12.col-sm-6
        .apcmgu
          = link_to current_theme.the_field('apcmgu-url'), target: 'blank' do 
            = image_tag current_theme.the_field('apcmgu-logo'), class: 'img-responsive logo-image'
      .col-xs-12.col-sm-6
        .ccma
          = link_to current_theme.the_field('ccma-url'), target: 'blank' do 
            = image_tag current_theme.the_field('ccma-logo'), class: 'img-responsive logo-image'
